footer{
margin-right: 0px;
border-top: 1px solid black;
color: black;
padding: 30px 100px;
}

footer h1 {
	font-family: 'Lato';
	border-bottom: 1px solid black;
	width: 18%;
	padding-bottom: 4px;

}

footer .services{
	margin-top: -10px;
	display: flex;
	flex-wrap: wrap;


}

footer .services .service{
	margin-right: 30px;
	padding:10px;
	object-position: center;
}

footer .services .service p{
	max-width: 300px;

}

footer #contact{
	color: rgb(181, 181, 181);
}

@media screen and (max-width: 800px){
	.footer{
		padding : 30px
	}
	footer img {
		display: none;
		
	}
}

footer img{
	height: 200px;
	width: 200px;
	margin-top: 4px;
	width: 35%;
}
